/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.active-link {
    background: #ffffff2e;
}

@import "../node_modules/@angular/material/prebuilt-themes/purple-green.css";
.example-container {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.example-container>* {
    width: 100%;
}

material-docs-app {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0
}

app-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2
}

material-docs-app>app-component-sidenav {
    flex: 1
}

material-docs-app>app-guides,
material-docs-app>app-homepage,
material-docs-app>guide-viewer {
    overflow-y: auto
}

@media (max-width:720px) {
    material-docs-app {
        top: 92px
    }
    material-docs-app>app-guides,
    material-docs-app>app-homepage,
    material-docs-app>guide-viewer {
        overflow-y: visible
    }
}